// Default
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-bg);
  color: var(--color-font-dark);
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Garamond'; // TODO: figure out why I can't set multiple fonts in the same line
}
img {
  max-width: 100%;
}
