// Default variables
html {
  --base-font-size: 20px;
}

// Light default theme
body {
  --bg-color: var(--color-accent--1);
  --bg-content-color: #fff;
  --bg-code: #fffbf3;
  --body-color: #444;
  --link-color: #6b17e6;
  --border-color: rgba(0, 0, 0, 0.1);
  --space: 3.5rem;
  --header-height: 80px;
  --radius: 5px;

  --content-max-width: 1200px;
  --content-width: 95%;

  --color-accent--1: #d9d2cc;
  --color-accent--2: #f2f1ef;
  --color-accent--3: #d9b18e;
  --color-accent--4: #a67564;
  --color-accent--5: #723e31;

  --color-bg: rgb(230, 222, 213);
  --color-title: rgb(73, 38, 33);
  --color-font-dark: rgb(78, 57, 57);
  --color-font-light: rgb(243, 236, 236);
  --color-main-bg: rgb(250, 243, 239);
  --color-nav-link: rgb(250, 243, 239);
  --color-nav-link--hover: rgba(250, 243, 239, 0.7);
  --transition-speed: 0.2s ease-in-out;
}

// Make  things smaller for mobile
@media screen and (max-width: 650px) {
  html {
    // --base-font-size: 17px;
  }
  body {
    --space: 1.5rem;
    --header-height: 60px;
  }
}

// Override variables for Dark theme
// body[data-theme='dark'] {
//   --bg-color: #0d2538;
//   --bg-content-color: #0f2d44;
//   --bg-code: rgba(0, 0, 0, 0.3);
//   --border-color: rgba(255, 255, 255, 0.1);
//   --body-color: #ced8de;
//   --title-color: #fff;
//   --link-color: #af9cef;
// }
